.download-big12{
    @include btn-bg-br (#ffffff, 5px, 1px solid #18A0FB);
    @include btn-clr (500, 15px, 18px, #18A0FB);
}
.download-big12{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}