.download-small5{ 
    @include btn-bg (#18A0FB, 5px);
    @include btn-clr (500, 13px, 16px, #ffffff);
}
.download-small5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}